/* 
Main page stylesheet
*/


/* Base look for the top menu/navigation bar*/

.top-navigation {
    background-color: rgb(68, 67, 67);
    overflow: hidden;
}


/*Actual link attributes*/

.top-navigation a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 1% 1%;
    text-decoration: none;
    font-size: 110%;
}

.top-navigation a {
    border-right: 1px solid rgb(255, 255, 255);
    padding: 1%;
}

.top-navigation a:last-child {
    border-right: none;
}


/* Hide the link that should open and close the topnav on small screens */

.top-navigation .icon {
    display: none;
}


/*
Denoting the page we are currently on. Pulled from the w3schools site as reference. https://www.w3schools.com/howto/howto_js_topnav.asp
Used to show touching classes within specific elements.
*/


/* .top-navigation a.active {
	/* background-color: rgb(136, 139, 136); */


/* color: black; */


/* } */


/*CSS Method of handling mouse hovering*/

.top-navigation a:hover {
    background-color: rgb(41, 40, 40);
    color: rgb(255, 255, 255);
}


/*Base Page Setup*/

html,
body {
    min-height: 100%;
    margin: 0;
}

.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 150%;
    left: 50%;
    margin-left: -60px;
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: black transparent transparent transparent;
}

.footer-para:hover .tooltiptext {
    visibility: visible;
}

header {
    background-color: rgb(243, 111, 87);
    overflow: hidden;
    text-align: center;
}

.footer-para {
    position: relative;
}

footer {
    display: flex;
    background-color: rgb(243, 111, 87);
    color: rgb(0, 0, 0);
    padding: 1px;
    justify-content: center
}