/* 
Main page stylesheet
*/
/* Base look for the top menu/navigation bar*/
.top-navigation {
  background-color: rgb(68, 67, 67);
  overflow: hidden;
}

/*Actual link attributes*/
.top-navigation a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 16px 18px;
  text-decoration: none;
  font-size: 21px;
}

.top-navigation a {
	border-right:1px solid rgb(255, 255, 255);
	padding: 15 px;
}

.top-navigation a:last-child {
	border-right:none;
}

/*
Denoting the page we are currently on. Pulled from the w3schools site as reference. https://www.w3schools.com/howto/howto_js_topnav.asp
Used to show touching classes within specific elements.
*/
/* .top-navigation a.active {
	/* background-color: rgb(136, 139, 136); */
	/* color: black; */
 /* } */

/*CSS Method of handling mouse hovering*/
.top-navigation a:hover {
  background-color: rgb(41, 40, 40);
  color: rgb(255, 255, 255);
}

/*Base Page Setup*/
html, body {
	min-height: 100%;
	margin: 0;
}
